<mat-drawer-container class="app-container">
  <mat-drawer mode="side" opened disableClose="true">
    <div class="app-menu">
      <button mat-icon-button color="accent" routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>
      <div class="menu-bottom">
        <button mat-icon-button color="accent" routerLink="/settings">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
